{% extends 'core/base.html' %}
{% block content %}
<section>
    <div class="container">
        <h1>Anksiyete Bozukluğu</h1>
        <p>Anksiyete bozukluğu, dünya üzerindeki <strong>en yaygın psikolojik sorunlardan</strong> biridir. Anksiyete
            bozuklukları
            oldukça tedavi edilebilir bir durumdur, ancak anksiyete yaşayanların yarısından daha az olan bir kısmı
            tedavi sürecine katılırlar.</p>

        <p>Endişe Bozukluklarında farklı türler vardır ve her biri kendi belirtileriyle karakterizedir. Genel Anksiyete
            Bozukluğu (GAD) veya Yaygın Endişe Bozukluğu, kontrol edilmesi zor, aşırı endişe veya anksiyete ile
            görülebilir.</p>

        <p>Belirtiler şu şekilde örneklenebilir;</p>

        <p>Sağlıkları, finansları, işleri veya aileleriyle ilgili endişe duyabilirler. Sürekli huzursuz olabilirler,
            sinirli olabilirler ve konsantrasyonlarını sağlamakta zorlanabilirler. Fiziksel belirtiler,
            <strong>yorgunluk, kas
                gerginliği</strong> ve <strong>baş ağrısı</strong> vs. gibi olabilir.</p>

        <div>
            <p>Kişilerin durumuna, yaşadıklarına ve atlattıkları dönemlere göre, <strong>fobiler</strong> de kaygı
                bozukluğunun üstüne
                eklenebilir. Bu fobilerden bazıları;</p>
            <ul>
                <li><strong>Agorafobi;</strong> yaşayan kişiler, kalabalıklar, köprüler veya uçaklar gibi kamusal
                    alanlardan sıklıkla
                    kaçınırlar. Evden, hastane yakınlarından veya şehirlerarası yoldan uzak dururlar. Uzun süre boyunca
                    seyahat etmeyebilirler.</li>
                <li><strong>Sosyal anksiyete bozukluğu</strong> olan kişiler, kamu konuşması gibi kendi kendilerini
                    değerlendirebilecekleri veya yeni insanlarla tanışabilecekleri durumlardan korkabilirler. Ayrıca,
                    partiler ve toplantılar gibi sosyal aktivitelerden de kaçınabilirler.</li>
                <li><strong>Özel Fobiler,</strong> belirli bir nesne veya durumdan korkma ile gözlemlenebilir. Yaygın
                    fobiler,
                    yükseklikten korkma (akrofobi), kapalı alanlardan korkma (klostrofobi) ve hayvanlardan korkma
                    (zoofobi – hayvan korkusu) gibi durumlardır.</li>
            </ul>
            <p>Yaygın anksiyete bozukluğu, kontrol edilmesi zor, fazlasıyla endişeli ve kaygılı olmayı sağlayabilir ve
                bu kişiler konsantre olmak, uyumak veya rahatlamak konularında zorluk çekebilirler.</p>

            <p>Sosyal endişe bozukluğu (SAD), kamu konuşmaları gibi sosyal durumlardan kaynaklanan yoğun korkuyu
                gösterir, dolayısıyla sosyal durumlardan kaçınabilir veya o durumlara büyük bir kaygıyla girebilirler.
                Otorite göstergesi olan kişilerle konuşurken veya toplum önünde, bildikleri sorulara cevap verirken
                dahi, yoğun endişe duyabilirler.</p>

            <p><strong>Agorafobi</strong> yaşayan kişiler, kaçışın zor olacağı ya da yardımın alınamayacağı mekanlardan
                kaynaklanan
                korkular yaşayabilirler, bu yüzde; kalabalık sokaklar veya tiyatrolar, sinemalar, konserler gibi
                alanlardan kaçınırlar.</p>

            <p><strong>Ayrılma anksiyetesi bozukluğu</strong>, bir kişinin evden ya da kişilerden ayrılmaya karşı
                duyduğu aşırı
                endişesini gösterir. Bu anksiyete sıklıkla ayrılma bağlantılı olduğu için kişilerden ayrılma sırasında
                ağlamak veya ayrılamama gibi belirtilerle ortaya çıkar.</p>

            <p>Anksiyete bozuklukları, bir kişinin hayatına oldukça etki edebilir. İş, okul ve kişisel ilişkileri
                etkilenebileceği gibi duruma göre depresyon, fobiler gibi diğer psikolojik sorunlardan muzdarip
                olabilirler.</p>

            <p><strong>Post-travmatik Stres Bozukluğu (PTSD – Travma Sonrası Endişe Bozukluğu)</strong>, bir kişinin
                travmatik bir olaya
                maruz kaldığı veya şahit olduğu bir durumdan sonra oluşabilecek bir anksiyete bozukluğudur. 1980
                yılından itibaren, Amerikan Psikiyatri Birliği tarafından psikolojik bir hastalık olarak tanınmıştır.
                Gece kabusları, eskiyi bir anda hatırlama, uyku bozuklukları, konsantrasyon güçlüğü, huzursuzluk ve
                aşırı çarpıntı cevapları gibi bir dizi belirti ile karakterize edilmektedir. PTSD’li kişiler, suçluluk
                ve/veya utanç duyguları yaşayabilirler. PTSD, askerlerden, doğal afetlerden kurtulanlara, fiziksel veya
                cinsel taciz mağdurlarına ve sevdiklerini kaybeden insanlara kadar herhangi bir travmatik olaya maruz
                kalan herkesi etkileyebilir. Psikolojik belirtilerin yanı sıra, kronik ağrı, yorgunluk ve sindirim
                problemleri gibi fiziksel belirtiler de ortaya çıkartabilir.</p>

            <h2>Anksiyete tedavisi</h2>
            <p>Yaygın Anksiyete Bozukluğu, birikim dolu bir dönemin sebebiyle kişiye gelebileceği gibi travmatik bir
                durumun arkasından da oluşabilir. Bunun teşhisi ve hangi tekniklerin uygulanması gerektiği, terapi
                süreçlerinde teşhis edilir. Kişiliğin yapısı ve çevre gibi faktörlerin de endişe bozukluğunda rol
                aldığını biliyoruz.</p>

            <p>Aynı zamanda durumsal anksiyeteler, yani gerçekten var olan bir durum karşısında oluşmuş endişeler de
                yine bu bireysel yapılan seanslarla teşhis edilip, çalışmaya başlanmaktadır.</p>

            <p>Anksiyete ve panik atak arasında yakın bir bağ vardır ve çoğu durumda panik atak kökenli ve zamanla
                gelişmiş bir anksiyete ile karşılaşabiliriz veya tam tersi anksiyetenin zamanla panik atağa sebep
                olduğunu da görebiliriz. Bu durumda da hem panik atak, panik bozukluğu hem de anksiyeteye yönelik tedavi
                çalışmamız fayda edecektir. Tabi ki, bu durumlara dair bilgiler için kliniğimize ulaşıp bilgi almanızı
                tavsiye ederim.</p>

            <p>Bireysel yapılan seanslarımız hem online hem de yüz yüze şekilde yapılabilmektedir. Anksiyete konusunda,
                her ne kadar kişinin durumuna göre değişiklik gösterse de, ortalama 3-5 seans arasında bir süreç
                çalışılır.</p>
        </div>
    </div>
</section>
{% endblock %}