<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content />
    <meta name="author" content />
    {% if title %}
    <title>{{ title }} | Dr. Ofelya Cabral</title>
    {% else %}
    <title>Dr. Ofelya Cabral</title>
    {% endif %}

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}" />

    {% block head %}{% endblock %}
  </head>
  <header>
    <nav class="navbar">
      <a href="{% url 'ana-sayfa' %}" class="navbar__logo">Dr. Ofelya Cabral</a>
      <div class="navbar-desktop">
        <ul class="navbar__list">
          <li class="navbar__item">
            <a href="{% url 'ana-sayfa' %}">Ana Sayfa</a>
          </li>
          <li class="navbar__item">
            <a href="{% url 'ana-sayfa' %}">Yazılar</a>
          </li>
          <li class="navbar__item">
            <div class="dropdown">
              <button class="dropdown__button" href="{% url 'ana-sayfa' %}">
                Tedaviler &#10550;
              </button>
              <div class="dropdown-content">
                <ul class="dropdown__list">
                  <li class="navbar__item">
                    <a href="{% url 'panik-atak' %}">Panik Atak</a>
                  </li>
                  <li class="navbar__item">
                    <a href="{% url 'anksiyete' %}">Anksiyete</a>
                  </li>
                  <li class="navbar__item">
                    <a href="{% url 'depresyon' %}">Depresyon</a>
                  </li>
                  <li class="navbar__item">
                    <a href="{% url 'sosyal-fobi' %}">Sosyal Fobi</a>
                  </li>
                  <li class="navbar__item">
                    <a href="{% url 'ofke-kontrol-bozukluk' %}">Öfke Kontrol Bozukluğu</a>
                  </li>
                  <li class="navbar__item">
                    <a href="{% url 'iliski-cift-terapisi' %}">İlişki ve Çift Terapisi</a>
                  </li>
                  <li class="navbar__item">
                    <a href="{% url 'takintili-dusunce' %}">Takıntılı Düşünceler</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="navbar__item">
            <a href="{% url 'hakkinda' %}">Hakkında</a>
          </li>
          <li class="navbar__item">
            <a href="{% url 'iletisim' %}">İletişim</a>
          </li>
        </ul>
      </div>
      <div class="hamburger">
        <button
          type="button"
          class="hamburger__btn"
          href="#"
          onclick="showMenu()"
        >
          <span class="hamburger__line" id="hamburger-line"></span>
        </button>
      </div>
    </nav>
    <div class="hamburger-menu" id="hamburger-menu">
      <!-- Ana seçenekler -->
      <ul class="hamburger__list">
        <li class="navbar__item">
          <a href="{% url 'ana-sayfa' %}">Ana Sayfa</a>
        </li>
        <!-- Tedaviler -->
        <li class="navbar__item">
          <button class="dropdown__button" type="button" onclick="showInnerMenu()">Tedaviler &#10550;</button>
          <!-- Hamburger Dropdown -->
          <div class="dropdown-hamburger" id="dropdown-hamburger">
            <ul class="hamburger__list">
              <li class="navbar__item">
                <a href="{% url 'panik-atak' %}">Panik Atak</a>
              </li>
              <li class="navbar__item">
                <a href="{% url 'anksiyete' %}">Anksiyete</a>
              </li>
              <li class="navbar__item">
                <a href="{% url 'depresyon' %}">Depresyon</a>
              </li>
              <li class="navbar__item">
                <a href="{% url 'sosyal-fobi' %}">Sosyal Fobi</a>
              </li>
              <li class="navbar__item">
                <a href="{% url 'ofke-kontrol-bozukluk' %}">Öfke Kontrol Bozukluğu</a>
              </li>
              <li class="navbar__item">
                <a href="{% url 'iliski-cift-terapisi' %}">İlişki ve Çift Terapisi</a>
              </li>
              <li class="navbar__item">
                <a href="{% url 'takintili-dusunce' %}">Takıntılı Düşünceler</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="navbar__item">
          <a href="{% url 'hakkinda' %}">Hakkında</a>
        </li>
        <li class="navbar__item">
          <a href="{% url 'iletisim' %}">İletişim</a>
        </li>
      </ul>
    </div>
  </header>

  <body>
    <!-- Flash Mesajları -->

    <!-- Header-->
    {% block content %}{% endblock %}
    <!-- Footer-->
    <footer>
      <div>
        <p>
          Copyright &copy; 2023 DR. OFELYA CABRAL - Bu site sağlık hizmeti
          vermemektedir, kişileri bilgilendirmek ve site sahibi hakkında bilgi
          vermek amacı ile hazırlanmıştır. Sitedeki bilgiler hastalıkların tanı
          veya tedavisinde kullanılmak üzere verilmemiştir. Tanı ve tedaviler
          mutlaka bir hekim tarafından yapılması gereken işlemlerdir. Site
          içeriğinin bir şekilde tanı ve tedavi amacıyla kullanımından doğacak
          sorumluluk ziyaretçiye aittir.
        </p>
      </div>
    </footer>
    <script src="{% static 'core/js/script.js' %}"></script>
    <!-- Tidio Scripts -->
    <script
      src="//code.tidio.co/kkj09m5amrvvjvazruasvt5qrl7y3nai.js"
      async
    ></script>
  </body>
</html>
