{% extends 'core/base.html' %}
{% block content %}
<section>
    <div class="article container">
        <h1>Depresyon Tedavisi</h1>
        <p>Depresyon, çöküntülü ruh hali ile beraber bazı fiziksel belirtilerin üç haftadan daha fazla devam etmesidir.
            Bedensel belirtilerden <strong>uyku bozukluğu -aşırı uyku veya uykusuzluk, uykuya dalamama, sık uyanma veya
                sabah
                erken uyanma-</strong> iştah bozukluğu -iştahsızlık veya aşırı yeme- <strong>yorgunluk -özellikle yorgun
                uyanma-, dikkat
                kaybı, unutkanlık</strong> gibi belirtilerin; içe kapanma, insanın kendisini izole etmesi, kişisel
            bakımdan uzaklaşma
            ve <strong>intihar düşünceleri</strong> gibi zihinsel belirtilerle ortaya çıkması halinde konulabilecek bir
            teşhistir.</p>

        <p>Depresyonun yüzde 90’ı hafif ve orta şiddetlidir ve ortalama ömrü <strong>9 ay</strong>dır.</p>

        <p>“Bugünün endişesi yarının depresyonudur.” sözünden anlaşılacağı gibi kişileri, <strong>endişeli düşünce
                yapısına daha
                yatkın yapar.</strong></p>

        <p>Depresyon döngüsünü anlamamız için kısaca <strong>uyku döngüsünden</strong> bahsedelim… Her gece gözümüzü
            kapadığımızda <strong>uyku
                döngüsü</strong> başlar ve bu döngü dört bölümden oluşur. <strong>REM (rapid eye movement- hızlı göz
                hareketleri) uykusu</strong>
            depresyonda önemli rol oynayan bölümdür. Normalde REM uykusu, uyku bölümünün dörtte birini kapsar. Beyin REM
            uykusunda çok aktiftir. REM uykusundaki beyin dalgalarının görüntüsü uyanıklıktaki beyin dalgalarına benzer.
            REM uykusunda beyin, günlük yaşamınızda ifade edemediğimiz <strong>duyguları nötralize eder.</strong></p>

        <p><strong>Endişeli bir yapınız</strong> varsa ve yaşamınızda bir dönüm noktası yaşıyorsanız -bu genellikle
            kayıp duygusudur-
            endişe seviyeniz çok artar. Beyninizin REM uykusundaki yükü artar ve bu artmış endişeyi beyninizin
            <strong>nötralize
                etme süresinde de artış olur.</strong></p>

        <p>REM uykusu uzar, <strong>uyku döngüsünün dörtte birinden fazlasına taşar</strong> ve bu aktivite sizin sabah
            <strong>yorgun ve bitkin
                uyanmanıza sebep olur.</strong> Yorgun uyandığınızda kendinizi daha <strong>endişeli</strong>
            bulursunuz. “Ben bugünü bu yorgunlukla
            nasıl çıkaracağım?” sorusu zihninizde canlanır ve <strong>depresyon döngüsü hız kazanmaya başlar.</strong>
        </p>

        <p>Bu durum bize çözüme giden yolu gösterir. Eğer problemi net bir şekilde biliyorsanız, çözüm karşınızda
            demektir. Depresyonda da asıl problem, endişeli düşünce yapısının zeminde yer aldığı bir kişide
                yaşadığı
                kayıp duygusunun <strong>REM</strong> uyku süresini uzatması ve kimyasal yani bedensel, zihinsel belirtilere yol
            açmasıdır.
        </p>

        <p>Çözüm <strong>endişeyi ele almaktır.</strong> Sorun odaklı düşünce tarzından çözüm odaklı düşünce tarzına
            yöneltmek;
            siyah-beyaz, ya hep ya hiç düşünce tarzından arınma sağlamaktır, yani <strong>terapi
                programlarıdır.</strong>
        </p>

        <p><strong>37 yıllık hekimlik yaşamımda</strong>, depresyonda ilaçların yerinin son derece kısıtlı olduğunu
            gördüm. <strong>Antidepresan
                ilaçları çocuklarda kullanamazsınız, kullanmamalısınız.</strong> Prospektusları okumanızı tavsiye
            ederim.Yaşlılarda
                ilaç etkileşimleri ve yan etkiler, baş edilmesi zor tıbbi sorunlara sebep olabilir. Geriye
            sadece orta yaş
            grubu kaldı. Orta yaş grubunda da bu ilaçların başarısı -ki başarı denebilirse- <strong>yüzde
                30’dur.</strong> Başarı
            diyemiyorum çünkü hastanın düşünce tarzında, problem çözme yetisinde bir değişiklik yapmadığımız sürece
            <strong>kalıcı sonuçlara ulaşmak düşük ihtimaldir.</strong>
        </p>

        <p>Ayrıca <strong>anti depresif ilaçların yan etkileri</strong> kimi zaman <strong>depresyon belirtilerinden
                daha zor baş edilebilir
                olabilir.</strong> Bu ilaçlarla belirtileri baskılarsınız ve seratonin seviyesindeki artışla
                uyku döngüsünde düzelme
                olabilir, ancak bu geçici düzelme ilaçlar bırakıldığında yerini daha derin bir depresyona
                bırakabilir.</p>

        <p>Depresyonunuz çocuklarınıza <strong>genetik olarak aktarılamaz</strong> ama <strong>endişeli düşünce tarzınız
                çocuklarınız tarafından
                modellenebilir.</strong> Bu da onları depresyona daha yatkın yapabilir. Çocuklarınızı bu problemden
            korumak
            istiyorsanız kolları sıvayın, iş sizinle başlıyor. <strong>Yaşama sorun penceresinden bakış açınızı çözüm
                penceresine çevirmeniz gerekiyor.</strong></p>

        <p>Peki, ilaçsız ve kalıcı olarak nasıl depresyon tedavi edilir? Bu terapi sürecinde <strong>endişenin
                azaltılmasını
                sağlayan tüm teknikler kullanılabilir.</strong> Terapinin başarısı kullanılan tekniklerin çeşitliliği
            ile artar.</p>

        <p>Kliniğimizde depresyon hastalarına genelde ve öncelikle, <strong>farkındalık terapisi ile başlayıp,
                sonrasında
                konuşma terapisi, EFT(emotional freedom technique), travma terapisi teknikleriyle devam ederiz.</strong>
            Burada
            hastanın hangisine ihtiyacı olduğu önemlidir ve terapilerde bunun teşhisini yapıyoruz. Hastanın ihtiyacına
            göre bu teknikler değişik kombinasyonlarla kullanılır. Bu terapi süreci <strong>6-8 seans arasında sürer ve
                kalıcı
                olarak başarı sağlamasını hedefleriz.</strong></p>

        <p>Evet, kısacası emek ister. Sonuçlarsa bu verdiğimiz emeğe değer. Bu süreçte <strong>endişeyi azaltarak uyku
                döngüsünü düzeltiriz ve iyileşme ivme kazanmaya başlar.</strong> Hastamıza günlük bazda ve giderek artan
            gündelik
            aktiviteler veririz.</p>

        <p>Her seansta o seansta karşılaştığımız noktaya destek vermesi için dinletilerimizden veririz.</p>

        <p>7-11 nefesini öğretip, sabah ve akşam 2-3 dakika yaptığında <strong>endorfin</strong> seviyesinin artıracağını ve
                bunun nasıl
                bir faydası olduğunu öğretiriz. Omega-3 ve D vitaminin önemini vurgularız.</p>

        <p>Bu terapi tekniklerinin kullanılmasıyla kişinin düşünce yapısında önemli ölçüde <strong>değişiklik</strong> yaşanır. Bu
            dönüşümün tamamlanmasıyla ve oturtulmasıyla depresyon yaşamımızdan tamamıyla çıkar ve
                gider.</p>

        <p>Bundan sonraki adım, sizin geçmişte yaşadığınız depresyon belirtierini yaşayan kişileri fark etmek,
                deneyimlerinizi paylaşmak ve onları yetkin ellere teslim etmektir.</p>
    </div>
</section>
{% endblock %}