{% extends 'core/base.html' %}
{% block content %}
<section class="container blog">
    <h2>Dr. Ofelya Cabral kimdir?</h2>
    <p>1987 yılında Gazi Üniversitesi Tıp Fakültesi’nden mezun olan Dr. Ofelya Cabral, 1988’de
        ailesiyle
        Avustralya’ya
        taşındı. 1998’e kadar Sidney’de NSW WestmeadTeaching Hastanesi’nde ve RegentMedical Center’daki kendi
        muayenehanesinde Aile Hekimi ve Hipnoterapist olarak çalışmalarını sürdürdü. 1999-2001 yılları arasında
        Ankara
        Güven Hastanesi’nde Check-up bölümünün başkanı olarak görev yaptı. 2001-2004 yılları arasında da ABD
        Büyükelçiliği’nde çalışmaya devam etti.</p>

    <p>2005 yılının Mayıs ayında, Ankara’da eşi Thomas Cabral‘la birlikte OfelyaThomasHealing Center’ı
        kurdu ve
        uyguladığı teknikler, özellikle sıra dışı yöntemleri ve ölçülebilir olumlu sonuçları nedeniyle, yurt içinde
        olduğu gibi yurt dışında da büyük ilgi gördü. Dr. Ofelya Cabral için hekimlik mesleği aslında hiç de yabancı
        değildi. Hatta bu alandaki eğitimi daha çok küçük yaşta başladı denebilir. Dedesi, babası ve ağabeyi gibi o
        da
        doktor olmayı seçti ve ilk hipnoz eğitimlerini henüz Tıp Fakültesi’nde öğrenciyken babasından aldı. Babası
        Dr.
        İsmail Tunçdoğan, Çocuk Hastalıkları Uzmanı olup, 45 yıllık hekimlik tecrübesi ve zamanının çok ötesinde
        olan
        bilgi ve içgörüsüyle, özellikle hekimliğe adım attığı ilk yıllarda, Dr. Ofelya Cabral için yol gösterici
        oldu.
        Kendisi ailesinden miras kalan hekimlik bayrağını taşımanın yanı sıra, onu daha ileriye götürmeyi amaçlıyor.
    </p>

    <p>Tıp ve psikolojiye yenilikçi ve bütünsel yaklaşımı, eskiyi reddetmekten ziyade tamamlayan
        niteliktedir.
        Özellikle panik atak ve endişe bozukluğu alanında tüm global gelişmeleri, yeni tedavi yöntemlerini araştırdı
        ve birinci elden çok etkili olduğunu deneyimlediği bir panik atak tedavi yöntemini Türkiye’ye getiren ilk
        isim oldu. Kültüre ve bağlama uygun hale getirip her detayıyla yeniden bina edilen ve başladığı sıralarda
        ülkemizde eşi bulunmayan bu eğitim ve tedavi modeli sayesinde panik ataktan özgür olan danışanları ve bu
        yazıyı oluşturan çalışma ekibi doğruluyor ki, Dr. Ofelya Cabral’ı tanıtmak için bir biyografi yazısı
        yetersiz kalıyor.</p>

    <p>Ancak içimizi ısıtan gülüşünü bir kez görüp, dinginleştiren sesini bir kez işitince; onun
        rehberliğinde
        kendini keşfedip, hayat yolculuğunda kazandığı yeni farkındalıklar ışığında, yepyeni yollara varınca;
        tonlarca yükten özgür olunca, umutsuzluğun içinde umut, çaresizliğin içinde çare bulunca çalışmalarının
        etkisini anlamak, kendisini tanımak mümkün oluyor. Dolayısıyla değerli okur, son birkaç dakikada okumuş
        olduğunuz bu yazı, birebir seansta deneyimleyeceğiniz açılımların yanında kıyaslanamaz niteliktedir.</p>

    <p>Kayra T.</p>
</section>

{% endblock %}