{% extends 'core/base.html' %}
{% block content %}
<div class="container">
    <h1 class="text-center">İletişim</h1>
    <div class="text-center">
        <p class="paragraph">Uğur Mumcu caddesi 94/6
            Gaziosmanpaşa
            Çankaya/Ankara Türkiye</p>
    </div>
    <div class="container">
        <h2>Telefon:</h2>
        <p>0312 447 05 67</p>
        <h2>E-Posta:</h2>
        <p>drofelyacabral@gmail.com</p>
    </div>
</div>

{% include 'core/_iletisim-form.html' %}
<iframe class="google-map"
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12244.093685268537!2d32.879707!3d39.8961079!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34fc1bc796d19%3A0x201914f21208c37d!2sDr.%20Ofelya%20Cabral!5e0!3m2!1str!2str!4v1697896781490!5m2!1str!2str"
    width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>

{% endblock %}