{% extends 'core/base.html' %}
{% block content %}
<section class="container">
    <h1>1. Hafta Dinlenecek</h1>
    <h1>2. Hafta Dinlenecek</h1>
    <h1>3. Hafta Dinlenecek</h1>
    <h1>1. 5. 15. ve 20. Günlerde İzlenecek</h1>
    <h2>Kullanma Klavuzu</h2>

    <!-- Kullanma kılavuzu ve özetler -->
    <article>
        <h3 class="mt-1">Ön Bilgi & Özet</h3>
        <p><u>Bu set programı kendi başına tedavi yerine geçmez, tedavi sürecinin bir uzantısıdır. Mutlaka öncesinde bir
                ön
                görüşme ve tam günlük bir hasta eğitimi, sonrasında da Ofelya hanım ile birebir seans yapılmalıdır.</u>
        </p>
        <p>21 gün süren bu set programında lütfen aşağıda yazılanları tam şekilde uygulayınız. Her gün ortalama 1-1.5
            saat ayrılması beklenir.</p>
        <p>Süreç boyunca her gün 2 tane dinleti dinlenecek ve panik atak hakkında olan eğitim videosu ise 4 defa
            izlenecektir.</p>
        <p><strong>Dinletilerin başında 21 gün boyunca dinlemeniz gerektiği söylenir ama siz bu klavuzda yazıldığı
                şekilde uygulayın.</strong></p>
        <p>Hipnoz serisinden olan dinletileri dinlerken uyuya kalmanız herhangi bir sorun oluşturmaz.</p>
        <p>Programı ve yine eğitim videosunda anlatılan uygulamaları da eksiksiz bir şekilde her gün uygulamanız
            gerekir.</p>

        <!-- Dinlenmesi Gerekenler ve Dinletiler-->
        <h3>Dinlenmesi Gerekenler</h3>
        <p>Önümüzde 21 günlük bir süreç var. Yani 3 hafta boyunca her gün yapmamız gerekenler olacak. Her gün 2 adet
            dinleti dinleyeceğiz ve her 7 günde bir bunları değiştireceğiz. Toplamda zaten 6 adet dinlenmesi gereken ses
            dosyamız var. Bu durumda her haftaya 2 adet düşüyor. Lütfen aşağıda yazıldığı gibi uygulayınız.</p>
        <div class="container">
            <p class="mt-1"><strong>1. Hafta: </strong>Güle Güle Panik Atak ve Güle Güle Stres her gün dinlenecek.</p>
            <p class="mt-1"><strong>2. Hafta: </strong>Bu haftaya geçtiğimiz zaman ilk haftada dinlediklerimizi bırakıyoruz ve 2.
                hafta
                kısmında olan Endişeye Son ile Zihnini Sessizleştir ve Sadeleştir 7 gün boyunca her gün dinliyoruz.</p>
            <p class="mt-1"><strong>3. Hafta: </strong>Aynı şekilde bu hafta başlangıcında da bir önceki haftadan kalanları dinlemeyi
                bırakıyoruz. Önümüzdeki 7 gün boyunca sadece Güle Güle Olumsuz Düşünce ve Hoş Geldin Özgüven’i her gün
                dinliyoruz.</p>
            <p class="mt-1"><strong>Not: </strong>Kısaca açıklamak gerekirse, her gün 2 tane dinlememiz gereken ses dosyası var.
                Bunlar
                yukarıda yazıldığı gibi sırasıyla dinlenecek.</p>
            <p class="mt-1"><strong>Tavsiyeler: </strong>Bu ses dosyalarını dinlerken aktif dikkatimizi gerektirecek işler yapmamız
                gerekiyor. Örneğin; araba kullanırken veya başka bir işle uğraşırken dinlemeyelim. Rahat olduğumuz
                vakitlerde oturarak veya yatarak dinleyebiliriz örneğin, gece yattıktan sonra dinlememizin uyku
                kalitemiz
                üzerinde olumlu bir etkisi olacaktır. Zorunlu olmasa da kulaklık ile dinlememizin daha iyi bir etkisi
                olacaktır.</p>

        </div>

        <!-- Eğitim Videosu-->
        <h3>Eğitim Videosu</h3>
        <p>Toplamda 3 hafta yani 21 günlük sürecimizde dinlememiz gerekenleri anladık. Şimdi bu dinletilerle beraber
            bazı günlerde izlememiz gereken panik atak eğitim videomuz bulunuyor. Yaşadığımız süreçte bizi panik atağa
            sürükleyen en büyük unsurlardan birisi belirsizliktir ve temelde belirtileri neden yaşadığımızı
            bilmememizden kaynaklanmasındandır. Eğitim videosu ise bize burada yardımcı ve bu programın bel kemiği
            görevindedir.
        </p>
        <p>Eğitim videosu 21 günlük süreçte <strong>toplamda 4 defa izlenecektir.</strong> Program devam ederken bu
            video 1. 5. 15. ve 20. günlerde izlenecektir. Örneğin; programa 1. gün videoyu izleyerek başladık ve
            arkasından dinletileri dinleyerek devam ediyoruz. 2. gün videoyu izlemiyoruz, sadece dinletileri dinliyoruz.
            5. gün geldiğinde yine hem dinletileri dinliyoruz hem de videomuzu izliyoruz. Bu olay 15. ve 20. günlerde de
            tekrarlanacaktır.</p>
        <p>İzlenmesi gereken günlere kesin olarak sadık kalmalıyız. Bu konuya lütfen özen gösterelim.
        </p>
        <p>Videoyu izlerken özellikle adrenalin dolayısı ile oluşan belirtilerin açıklandığı kısımları iyice anlamaya
            özen gösteriyoruz. Her bir belirti açıklandığında videoyu durduruyoruz, sonrasında bahsi geçen belirtinin
            neden olduğunu kendi kendimize tekrar ediyoruz ve gerekirse kendi cümlelerimizle not alıyoruz.
        </p>
        <span>Bu eserin içinde yer alan içerikler (video, resim, ses, müzik vb.) Dr. Ofelya Cabral’a ait olup, 5846
            sayılı fikir ve sanat eserleri kanunu ve 5237 Türk ceza kanunu kapsamında korunmaktadır. Bu hakları ihlal
            eden kişiler, bu kanunlar kapsamında yer alan hukuki ve cezai yaptırımlara tabi olurlar. Dr. Ofelya Cabral
            ilgili yasal işlem başlatma hakkına sahiptir.
        </span>

        <!-- Program Sonrası-->
        <h4>Program Sonrası Bilinmesi Gerekenler</h4>
        <p>21 günlük süreci uyguladıktan sonra genellikle aklımıza gelen soru şu olur: “Bundan sonra eğitim videosunu
            izlemeye devam etsem veya dinletileri dinlemeye devam etsem uygun olur mu?” Program bittikten sonra da
            dinletilere devam edebiliriz. Ancak burada önemli olan konu, Güle Güle Panik Atak dinletisini ve videosunu
            uygulamamaktadır. Bunların dışındaki diğer dinletileri dinlemek gündelik endişeye fayda edecektir,
            dolayısıyla tercihinize göre dinleyebilirsiniz.
        </p>
        <p>Endişe bozukluğu için faydalı olan tekniklerden en başta nefes egzersizi geliyor. Bu durum bize şunu ifade
            ediyor, 21 günlük süreçten sonra eğitim videosunda anlatılan nefes egzersizini hala uygulamaya devam
            edebiliriz.
        </p>
        <p>Doktor gözetimi ve bilgisi olmadan ilaçlarımızda değişiklik yapmayalım.
        </p>
        <p><strong>21 gün bitiminde Ofelya hanım ile 1 defa seansınız olacak. Bu seansın da arkasından panik atağın
                altından çıkan veya ona eşlik eden diğer konular için ek, ücretli birkaç seans daha almanız gerekebilir.
            </strong></p>

        <!-- Program Sonrası Tablo-->
        <h4>21 Günlük Program Tablosu</h4>
        <p>Dilerseniz bu tabloyu kaydedip veya çıktısını (print) alıp, 21 günlük programınızı telefondan veya kalemle
            işaretleyerek planlı bir şekilde takip edebilirsiniz (zorunlu değil).
        </p>
        <p>Nefes sütunundaki kısaltma olan S -> sabah ve A-> akşam anlamına gelir.
        </p>
    </article>
</section>
{% endblock %}