{% extends 'core/base.html' %}
{% block content %}
<section>
    <div class="container">
        <h1><strong>Sosyal Fobi Tedavisi</strong></h1>
        <p><strong>Sosyal fobi</strong>, diğer insanların olduğu sosyal ortamlara aşırı korku duyma halidir. Yine bir diğer değişle,
            diğer insanların sizi değerlendirip yargılamasına duyulan korkudur.</p>
        <p><strong>Sosyal fobisi olan kişilerde</strong>, bu durumun
            sebep olduğu psikolojik ve fiziksel belirtiler, yeni insanlarla tanıştıklarında, eleştirildiklerinde, bir
            toplulukta herhangi bir sebepten dolayı (doğum günü toplanması gibi) dikkat merkezi olduklarında, bir iş
            yaparken izlendiklerinde, toplum önünde konuşmaları gerektiğinde, otoriteyi temsil eden kişilerle bir araya
            geldiklerinde ortaya çıkar.</p>

        <p><strong>Sosyal fobi yaşayanlarda gözlemlenen belirtilerden</strong> bazıları aşağıdaki gibidir;</p>
        <ul>
            <li>Çarpıntı</li>
            <li>Nefes darlığı</li>
            <li>Yüz kızarması</li>
            <li>Bulanık görme</li>
            <li>Terleme</li>
            <li>Ağız kuruması</li>
            <li>Titreme</li>
        </ul>
        <p>Genellikle <strong>sosyal fobisi olanlar</strong>, kolayca utanan, göz temasından kaçınan ve çevrelerinde içine kapanık,
            sinirli, mesafeli veya ilgisiz izlenimi uyandıran bir yapıya sahip olabilirler.</p>

        <p><strong>Sosyal fobinin temellerini attığımız, besleyip büyüttüğümüz yer</strong> zihnimizdir. Yani düş gücünüzü, imgeleme
            yetinizi kendi aleyhinizde kullandığımız zihinsel bir durumdur. Bu durumu olan kişiler, zihinlerinde sosyal
            ortamlarda geçen kendileri ile ilgili olumsuz bir film yaparlar ve bu filmi her sosyal ortama girmeden önce
            izlerler. Herkesin kendilerini izlediği, hatta kusur bulmaya çalıştığı, ellerinin titrediği, ve bunun fark
            edildiği bir durum hayal ederler.</p>

        <p><strong>Bedenle zihin bir bütün olduğu için bu zihinsel durum</strong>, bu korku filmi bedende bazı savunma mekanizmalarının
            harekete geçmesine neden olur ve belirtileri hissedersiniz.</p>

        <p><strong>Sosyal fobisi olanlar zihinlerinde kendi yarattıkları bu korku filmini</strong> o kadar çok seyrederler ki bu filmde
            gördükleri ve hissetmekten korktukları bedensel tepkiler ve korku alışkanlık haline gelir. Yani çok büyük
            zihinsel bir çaba göstererek ve çoğu zaman bu çabanın farkına bile varmayarak zihnimizi sosyal ortamlardan
            korkmaya eğitiriz.</p>

        <p><strong>Sosyal fobisi kişiler neler düşünüyor?</strong> Liste aşağıdaki gibidir;</p>
        <ul>
            <li>Hiçbir işi istenildiği gibi yapamıyorum</li>
            <li>Daha iyi olmam gerekiyor</li>
            <li>Kurduğum bu cümleye eminim içinden gülmüştür</li>
            <li>İnsanları kırmamalıyım</li>
            <li>Yeteri kadar güzel değilim</li>
            <li>İnsanların beni beğenmesi için hiçbir sebep yok</li>
            <li>Yine yanlış yaptım, rezil oldum</li>
            <li>Hiçbir işi doğru ve istenildiği gibi yapamıyorum</li>
            <li>Utandığımı belli etmemeliyim</li>
            <li>Sevilmeye layık değilim</li>
            <li>Hata yapmamalıyım</li>
            <li>Çok rahat davranmalıyım</li>
            <li>Herkes bana bakıyor, kusurlarımı görüyor</li>
            <li>Keşke bu cümleyi söylemeseydim</li>
        </ul>
        <p>Bunların yanında gündelik hayatta yapılabilecek bazı rutin işleri yapmak kişinin hayatında zor bir hale
            gelebiliyor. <strong>Sosyal fobiye sahip kişiler genellikle neler yaparken zorlanıyor?</strong> Liste aşağıdaki gibidir;</p>
        <ul>
            <li>Topluluk içinde telefonla konuşmak</li>
            <li>İş görüşmelerine gitmek</li>
            <li>Tartışmaya girmek</li>
            <li>Genel tuvaleti kullanmak</li>
            <li>Bir grupla önceden hazırladığı bir sunum yapmak</li>
            <li>Alışverişte pazarlık etmek</li>
            <li>Hayır diyebilmek</li>
            <li>Romantik anlamda istediği kişiyle iletişim kurmak</li>
            <li>Topluluk önünde konuşmak</li>
            <li>Genel yerlerde yemek yemek</li>
            <li>Statüsü yüksek birisiyle konuşmak</li>
            <li>Israrcı bir satıcıya karşı koymak</li>
            <li>Sınava veya mülakata girmek</li>
            <li>İyi tanınmayan veya yeni tanışılan bir kişiye onunla aynı fikirde olmadığını söylemek</li>
            <li>Tanımadığı birinin telefonuna cevap vermek</li>
            <li>Arkadaş toplantılarına ve eğlencelere katılmak</li>
        </ul>
        <h2><strong>Zihninizi Eğiterek Sosyal Fobiyi Yenebilirsiniz</strong></h2>
        <p>Eğer zihin bu olumsuz duruma eğitilebiliyorsa tam tersine de eğitilebilir. Yani zihninizi eğiterek içinde
            bulunduğunuz durumu tam tersine çevirmek de mümkün. Biliyorum, inanmakta zorlanıyor olabilirsiniz, ancak her
            şey, tüm alışkanlıklar, korkular zihinde başlar ve zihinde biter. Tüm bu duygu durumları zihinde
            gerçekleşir.</p>

        <p><strong>Zihnin eğitilmesi için doktorla beraber, birebir, 4-6 seans aralığında yapılacak terapilerle</strong> etkili bir
            şekilde ilerlemek mümkündür. Bu terapilerde kişiye uygun tekniklerle, fobinin kökenindeki duyguya çalışılır
            ve zihin sosyal fobi döngüsünden çıkarılmak için eğitilir.</p>
    </div>
</section>
{% endblock %}
