{% extends 'core/base.html' %}
{% block content %}
<section>
    <div class="container">
        <h1>Takıntılı Düşünce Tedavisi</h1>
        <p>Bugün, her birimizin yaşamını zaman zaman cehenneme çeviren, kafamızın içinde bizimle her yere gelen,
            kurtulmak için can attığımız <strong>düşüncelerden</strong> nasıl kurtulacağımızı konuşacağız.</p>

        <p>Takıntılı düşünce problemi sizi, burada ve şimdiyi yaşamaktan alı koyar. Ya geçmişteki bir olaya
            <strong>takılmışsınızdır</strong> veya gelecekle ilgili <strong>endişeler</strong> meşgul eder zihninizi.
            Odaklanmanız gereken işlere
            odaklanmak ve yaşamın her anını keyifle yaşamak takıntı arttıkça zorlaşır.
        </p>

        <p>Aslında takıntılı düşünce, problem çözülmekte kullanılan başarılı bir stratejidir. Bir problem üzerinde
            tekrar tekrar düşünüp, gözden geçirme <strong>şansınız olur</strong>, ancak bu problemin doğasıyla çok
            alakalıdır. Eğer probleminiz
            <strong>muğlaksa</strong> veya çözümü zamana kalmışsa kafanızda istediğiniz kadar evirip çevirin, cevaplar
            netleşmeyecektir. Bu durumlarda takıntılı düşünmek, arabanızın lastiği çamura saplandığında boşa dönmesi
            gibidir; istediğiniz kadar gaza basın, yol alamazsınız. Bazen başımıza gelen bir olayı veya birileriyle ile
            aramızda geçen bir konuşmayı zihnimizde tekrar tekrar çeviririz. Bazen de yanlış yaptığımızı düşündüğümüz
            bir olay veya bir ilişkimiz hakkında durmadan boşa dönen bir tekerlek gibi düşünür dururuz.
        </p>

        <p>Bu durumun kontrolden çıkıp da hayatımızı istediğimiz gibi yaşamamıza engel olmaya başladığı <strong>zaman,
                önlem
                alma zamanı gelmiştir.</strong></p>

        <p>Birkaç tane takıntılı düşünme problemiyle başa çıkma yönteminden bahsetmek istiyorum. Her şeyden önce,
            yaşamınızda her şeyin kontrolünüzün altında olması gerektiği düşüncesinden yavaş yavaş sıyrılmak gerekiyor.
            Çünkü yaşam, doğası gereği sürprizlerle doludur ve ancak esnek bir bakış açısı ve çözüm odaklı
            düşünme tarzı bizi istediğimiz yere götürecektir. Eğer altta yatan <strong>mükemmeliyetçi</strong> bir
            kişilik yapınız varsa, bu
            stratejileri uygulamak size imkansıza yakın gibi görünebilir, ancak zihnin yeniden eğitimi ile
            başaramayacağınız hiçbir şey yoktur.</p>

        <p>Evet, doğru okudunuz. Yapacağınız ilk iş “<strong>düşünmemeye</strong> çalışmayı” bırakmak olsun. Zihin
            düşünmemeyi bilmez,
            düşünmek üzere programlanmıştır. Mesela size “şimdi <strong>kırmızı bir elma düşünmeyin</strong>” desem! çok
            geç,
            düşündünüz bile! Yani bir şeyi düşünmemeye çalışmak onu daha çok düşünmemize itecektir.</p>

        <p>Demek ki düşünmemeye çalışarak değil, bunu planlı tam tersini yaparak bir çözüme varacağız. Hemen bugün
            uygulamaya başlayabileceğiniz etkili tekniklerden biri; kendimize gün içerisinde bir <strong>“endişe
                zamanı”</strong>
            seçmektir. Yani, gün içerisinde kendinize seçtiğiniz bir zaman diliminde takıntılı düşüncelere yer vermek.
            15-30 dakika arası, mesela 18:00-18:30 arası gibi. Sadece seçtiğiniz bu zaman diliminde takıntılı
            düşüncelere izin vereceksiniz. Eğer ayırdığınız bu zaman diliminde istemediğiniz düşünce gelirse,
            “<strong>Daha
                zamanın gelmedi</strong>” diyerek, zihninizi başka bir aktiviteye yönlendirmek suretiyle zihni eğitmek,
            çok başarılı
            bir yöntemdir.</p>

        <p>Takıntılı düşünceye ayırdığınız zamanda, bu düşünceyi <strong>çeşitlendirme yöntemleri</strong> de yaşamınızı
            kolaylaştıracaktır. Endişe yaratan takıntılı düşüncenin sonuçlarını “<strong>en iyi senaryo</strong>”,
            “<strong>en kötü
                senaryo</strong>” ve “<strong>en olası senaryo</strong>” olarak sınıflandırarak, üç farklı açıdan
            yaklaşmak, endişe
            odaklı düşüncenin yönünü değiştirmek açısından fayda sağlar. Bu senaryoların sonuçlarını zihninizde
            canlandırarak zihninizi <strong>çeşitlendirmeye alıştırmak</strong>, size yaşamınızı geri kazandırır.</p>

        <p>Yine en etkili zihin eğitim yöntemlerinden birisi olan, <strong>hipnoterapi</strong> ve <strong>birebir
                terapi süreçleri</strong>,
            dev adımlarla yol almanızda yardımcı olacaktır. Takıntılı düşüncenin arkasındaki <strong>duyguyu fark
                edip</strong> buna uygun
            tedavi yöntemleriyle ilerlemek, en etkili süreçtir.</p>
    </div>
</section>
{% endblock %}