@import "variables";

.navbar {
  background-color: $persian-green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.25rem;

  &__logo {
    color: $font-white;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 0.618rem;

    &:hover {
      color: darken($font-white, 10%);
    }
  }

  &__list {
    display: flex;
    list-style: none;
    margin-right: 1rem;
  }

  &__item {
    padding: 0.618rem;

    > a {
      color: $font-white;

      &:hover {
        color: darken($font-white, 10%);
      }
    }
  }

  &-desktop {
    display: block;
    @media (max-width: $laptop) {
      display: none;
    }
  }
}

.navbar-user-seperator {
  padding-top: 2rem;
  border-top: 0.0625rem solid $font-white;
}

.navbar-user {
  background-color: $charcoal;
}

.dropdown {
  position: relative;
  display: inline-block;

  &__button {
    border: none;
    background-color: transparent;
    color: $font-white;
    font-size: 1rem;
  }

  &-content {
    display: none;
    position: absolute;
    background-color: $persian-green;
    min-width: 15rem;
    z-index: 1;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 0.5rem;
  }

  a {
    color: $font-white;
  }

  &:hover &-content {
    display: block;
  }
}
