@import "variables";

.text {
  &-white {
    color: $font-white;
  }

  &-center {
    text-align: center;
  }

  &-charcoal {
    color: $charcoal;
  }
}

.mb {
  &-1 {
    margin: 1rem;
  }
  &-2 {
    margin: 2rem;
  }
}

.mt {
  &-1 {
    margin-top: 1rem;
  }
  &-2 {
    margin-top: 2rem;
  }
}

.mb {
  &-1 {
    margin-bottom: 1rem;
  }
  &-2 {
    margin-bottom: 2rem;
  }
}

.page-title {
  margin: 1rem 0;
  padding: 1rem;
}

.appear {
  animation: appearAnim 1s forwards;
  opacity: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.help__text {
  color: $charcoal;
}

@keyframes appearAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
