@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap");
.navbar {
  background-color: #264653;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.navbar__logo {
  color: #f3f3f3;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
}
.navbar__list {
  display: flex;
  list-style: none;
  margin-right: 1rem;
}
.navbar__item {
  padding: 0.618rem;
}
.navbar__item > a {
  color: #f3f3f3;
}
.navbar-desktop {
  display: block;
}
@media (max-width: 64em) {
  .navbar-desktop {
    display: none;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown__button {
  border: none;
  background-color: transparent;
  color: #f3f3f3;
  font-size: 1rem;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #264653;
  min-width: 15rem;
  z-index: 1;
}
.dropdown__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.dropdown__item {
  padding: 0.5rem;
}
.dropdown a {
  color: #f3f3f3;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.hamburger {
  display: none;
}
.hamburger__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-flow: column wrap;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 3rem;
  height: 3rem;
}
.hamburger__line, .hamburger__line::after, .hamburger__line::before {
  background-color: #f3f3f3;
  width: 2rem;
  height: 0.25rem;
  border-radius: 1rem;
  position: absolute;
  transition: all 0.2s ease-in-out;
}
.hamburger__line::after, .hamburger__line::before {
  content: "";
}
.hamburger__line::before {
  transform: translate(-1rem, -0.5rem);
}
.hamburger__line::after {
  transform: translate(-1rem, 0.5rem);
}
@media (max-width: 64em) {
  .hamburger {
    display: block;
  }
}
.hamburger-menu {
  background-color: #264653;
  display: none;
  transform-origin: top center;
  animation: showMenu 0.3s ease-in-out forwards;
}
.hamburger__list {
  list-style: none;
}

.dropdown-hamburger {
  display: none;
  transform-origin: top center;
  animation: showMenu 0.3s ease-in-out forwards;
}

.rotate {
  background-color: transparent;
}
.rotate::after {
  transform: translateX(-1.25rem) rotate(-45deg);
}
.rotate::before {
  transform: translateX(-1.25rem) rotate(45deg);
}

@keyframes showMenu {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.text-white {
  color: #f3f3f3;
}
.text-center {
  text-align: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: #f4a261;
}

::selection {
  background-color: #f4a261;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.header-banner {
  background-image: url("../assets/Dr-Ofelya-Cabral-banner.webp");
  background-size: cover;
  background-position: right;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 61vh;
}
.header-banner__title {
  font-size: 2rem;
}/*# sourceMappingURL=main.css.map */